.rightbar {
	flex: 3.5;
}

.rightbarWrapper {
	padding: 20px 20px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.birthdayContainer {
	display: flex;
	align-items: center;
}

.birthdayImg {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.birthdayText {
	font-weight: 300;
	font-size: 15px;
}

.rightbarAd {
	width: 100%;
	border-radius: 10px;
	margin: 30px 0;
}

.rightbarTitle {
	margin-bottom: 20px;
}

.rightbarFriendList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.rightbarFriend {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.rightbarProfileImgContainer {
	margin-right: 10px;
	position: relative;
}

.rightbarProfileImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.rightbarOnline {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: limegreen;
	position: absolute;
	top: -2px;
	right: 0;
	border: 2px solid white;
}

.rightbarUsername {
	font-weight: 500;
}

.rightbarTitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.rightbarInfo {
	margin-bottom: 30px;
}

.rightbarInfoItem {
	margin-bottom: 10px;
}

.rightbarInfoKey {
	font-weight: 500;
	margin-right: 15px;
	color: #555;
}

.rightbarInfoValue {
	font-weight: 300;
}

.rightbarFollowings {
	display: flex;
	flex-wrap: wrap;
}

.rightbarFollowing {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	cursor: pointer;
	margin-right: 25px;
	align-items: center;

}

.rightbarFollowingImg {
	width: 80px;
	height: 110px;
	object-fit: cover;
	border-radius: 5px;
}

.rightbarFollowButton {
	margin-top: 30px;
	margin-bottom: 10px;
	border: none;
	background-color: #1872f2;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.rightbarFollowButton:focus {
	outline: none;
}

.rightbarFollowingName{
	font-size: 12px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: center;
	width: 85px;
	font-weight: bold;
}

.rightbarFollowingAuthor{
	font-size: 12px;
}

.rightbarDocContainer{
	display: flex;
	width: 90%;
	flex-wrap: wrap;
}

.rightbarDoc{
	width: 44%;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.rightbarDocTitle{
font-size: 12px;
font-weight: bold;
}

.rightbarDocAuthors{
	font-size: 12px;
	text-align: center;
}

.rightbarDocText{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin-left: 5px;
}